<div
  [@messFade]="showMessBox ? 'bottom' : 'void'"
  class="message-container"
  [ngClass]="{
    error: config.type == 'error',
    warn: config.type == 'warn',
    success: config.type == 'success'
  }"
>
  <div class="con">
    <span *ngIf="config.type == 'error'" class="icon error-icon"></span>
    <span *ngIf="config.type == 'warn'" class="icon warn-icon"></span>
    <span *ngIf="config.type == 'success'" class="icon correct-icon"></span>
    <span>{{ config.message }}</span>
  </div>
</div>
