<div class="loading">
  <p class="tit">简单加载中</p>
  <br />
  <R-loading type="simple"></R-loading>
  <br />
  <p class="tit">cirle加载中</p>
  <br />
  <R-loading type="circle"></R-loading>
  <br />
  <p class="tit">line加载中</p>
  <br />
  <R-loading type="line"></R-loading>
  <br />
  <p class="tit">much加载中</p>
  <br />
  <R-loading type="much"></R-loading>
  <br />
  <p class="tit">music加载中</p>
  <br />
  <R-loading type="music"></R-loading>
  <br />
  <p class="tit">swing加载中</p>
  <br />
  <R-loading type="swing"></R-loading>
  <br />
  <p class="tit">square加载中</p>
  <br />
  <R-loading type="square"></R-loading>
  <div class="api" id="api">
    <table>
      <thead>
        <tr>
          <th>参数</th>
          <th>作用</th>
          <th>类型</th>
          <th>可取值</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>type</td>
          <td>加载中类型</td>
          <td>string</td>
          <td>
            'simple'&nbsp;&nbsp;|&nbsp;&nbsp;'circle'&nbsp;&nbsp;|&nbsp;&nbsp;'line'|&nbsp;&nbsp;'much'&nbsp;&nbsp;|&nbsp;&nbsp;'music'
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
