<div class="appcontainer">
  <div class="dropDown">
    <R-drop-down [menuList]="menuList"></R-drop-down>
  </div>
  <br />
  <div class="pagination">
    <R-pagination
      [currentPage]="1"
      [totalPage]="15"
      paginationType="simple"
      [showInputPage]="true"
    ></R-pagination>
    <br />
    <R-pagination
      [currentPage]="1"
      [totalPage]="7"
      paginationType="usual"
      [showInputPage]="true"
    ></R-pagination>
    <br />
    <R-pagination
      [currentPage]="10"
      [totalPage]="30"
      paginationType="usual"
      [showInputPage]="true"
    ></R-pagination>
    <br />
    <R-rate
      [onlyRead]="false"
      [currentScore]="4.5"
      [totalScore]="6"
      (starEmit)="star($event)"
    ></R-rate>
  </div>
  <br />
  <div class="calendar">
    <R-calendar></R-calendar>
  </div>
  <br />
  <div class="date-picker">
    <R-date-picker [(dateValue)]="dateValue"></R-date-picker>
  </div>
  <br />
  <div class="time-picker">
    <R-time-picker [(timeValue)]="timeValue"></R-time-picker>
  </div>
  <br />
  <!-- <div class="hh" (click)="aa()">点击</div> -->
  <router-outlet></router-outlet>
</div>
