<div class="loading-container">
  <div class="circle-wrap" *ngIf="type === 'circle'">
    <i class="icon"></i>
    <i class="icon"></i>
    <i class="icon"></i>
    <i class="icon"></i>
  </div>
  <div class="simple-wrap" *ngIf="type === 'simple'">
    <i class="simple"></i>
  </div>
  <div class="line-wrap flex" *ngIf="type === 'line'"></div>
  <div class="much-wrap flex" *ngIf="type === 'much'">
    <i class="much"></i>
    <i class="much"></i>
    <i class="much"></i>
    <i class="much"></i>
    <i class="much"></i>
  </div>
  <div class="music-wrap" *ngIf="type === 'music'">
    <i class="music"></i>
    <i class="music"></i>
    <i class="music"></i>
    <i class="music"></i>
    <i class="music"></i>
  </div>
  <div class="swing-wrap flex" *ngIf="type === 'swing'">
    <i class="swing"></i>
    <i class="swing"></i>
    <i class="swing"></i>
    <i class="swing"></i>
    <i class="swing"></i>
  </div>
  <div class="square-wrap flex" *ngIf="type === 'square'">
    <i class="square"></i>
    <i class="square"></i>
    <i class="square"></i>
    <i class="square"></i>
  </div>
</div>
